/*$mdc-theme-primary: #875a7b;
$mdc-theme-secondary: #008784;
$mdc-theme-on-primary: #feeae6;
$mdc-theme-on-secondary: red;
$mdc-theme-on-surface: #666;*/

@import "~@angular-mdc/theme/material";

.mdc-tab-bar-top {
  @include mdc-tab-text-label-color($mdc-theme-on-primary);
  @include mdc-tab-states-color(black);
}
.mdc-tab-bar-top .mdc-tab-indicator {
  @include mdc-tab-indicator-underline-color($mdc-theme-on-primary);
}

.topbarMargin {
	position: relative;
	/*top: 48px;*/
	top: 64px;
}

* {
  font-family: 'Roboto', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}
