@import '~@angular/material/theming';
@include mat-core();

/*
- Referències per a modificar el tema:
	https://medium.com/@tomastrajan/the-complete-guide-to-angular-material-themes-4d165a9d24d1
	http://mcg.mbitson.com/
*/

$theme-primary: (
    50 : #f1ebef,
    100 : #dbced7,
    200 : #c3adbd,
    300 : #ab8ca3,
    400 : #99738f,
    500 : #875a7b,
    600 : #7f5273,
    700 : #744868,
    800 : #6a3f5e,
    900 : #572e4b,
    A100 : #ffa3e3,
    A200 : #ff70d4,
    A400 : #ff3dc5,
    A700 : #ff24bd,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$theme-accent: (
    50 : #e0f4f3,
    100 : #b3e3e2,
    200 : #80d0ce,
    300 : #4dbdba,
    400 : #26aeac,
    500 : #00a09d,
    600 : #009895,
    700 : #008e8b,
    800 : #008481,
    900 : #00736f,
    A100 : #a1fffb,
    A200 : #6efff9,
    A400 : #3bfff7,
    A700 : #22fff6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/*

Amb colors de Límit

$theme-primary: (
     50 : #e7eff3,
    100 : #c3d7e2,
    200 : #9bbccf,
    300 : #73a1bb,
    400 : #558cad,
    500 : #37789e,
    600 : #317096,
    700 : #2a658c,
    800 : #235b82,
    900 : #164870,
    A100 : #a8d6ff,
    A200 : #75bdff,
    A400 : #42a5ff,
    A700 : #2999ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$theme-accent: (
    50 : #fcf6ec,
    100 : #f6e7cf,
    200 : #f1d8b0,
    300 : #ebc890,
    400 : #e6bc78,
    500 : #e2b060,
    600 : #dfa958,
    700 : #daa04e,
    800 : #d69744,
    900 : #cf8733,
    A100 : #ffffff,
    A200 : #fff1e2,
    A400 : #ffd9af,
    A700 : #ffcc96,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
*/

$theme-app-primary: mat-palette($theme-primary);
$theme-app-accent: mat-palette($theme-accent);
$theme-app-warn: mat-palette($mat-red);

$theme-app-theme: mat-light-theme($theme-app-primary, $theme-app-accent, $theme-app-warn);

@include angular-material-theme($theme-app-theme);

