@import '~@programari-limit/base-angular/assets/styles.scss';
@import 'app-theme.scss';

* {
	font-family: Lato, 'Roboto', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.background-accent {
	background-color: mat-color($theme-accent, 100)
}

body {
	margin: 0;
	/*background: rgba(0, 0, 0, 0) url("assets/background.png") repeat scroll 0% 0%;*/
}
