<mdc-top-app-bar fixed *ngIf="topbarVisible">
	<mdc-top-app-bar-row>
		<mdc-top-app-bar-section align="start" title="Cecocloud">
			<button mdcTopAppBarNavIcon>
				<mdc-icon>menu</mdc-icon>
			</button>
		</mdc-top-app-bar-section>
		<mdc-top-app-bar-section align="end">
			<div mdcMenuSurfaceAnchor #userAnchor [title]="usuariNom">
				<mdc-icon #userIcon mdcTopAppBarActionItem (click)="userMenu.open = !userMenu.open">person</mdc-icon>
				<mdc-menu anchorCorner="bottomStart" #userMenu [anchorElement]="userAnchor">
					<mdc-list>
						<mdc-list-item (click)="onMenuSortirClick($event)">Sortir</mdc-list-item>
					</mdc-list>
				</mdc-menu>
			</div>
		</mdc-top-app-bar-section>
	</mdc-top-app-bar-row>
</mdc-top-app-bar>
<div #container id="container" [ngClass]="{'topbarMargin': topbarVisible}">
	<router-outlet></router-outlet>
</div>