<mdc-top-app-bar fixed *ngIf="topbarVisible">
	<mdc-top-app-bar-row>
		<mdc-top-app-bar-section align="start" title="Cecocloud">
			<button mdcTopAppBarNavIcon>
				<mdc-icon>menu</mdc-icon>
			</button>
		</mdc-top-app-bar-section>
		<mdc-top-app-bar-section align="end">
			<a href="/cecocloud/swagger-ui.html" target="_blank" style="text-decoration:none"><mdc-icon mdcTopAppBarActionItem>contact_support</mdc-icon></a>
			<div mdcMenuSurfaceAnchor #userAnchor>
				<mdc-icon #userIcon mdcTopAppBarActionItem title="{{tokenPayload.name}}" (click)="userMenu.open = !userMenu.open">person</mdc-icon>
				<mdc-menu anchorCorner="bottomStart" #userMenu [anchorElement]="userAnchor">
					<mdc-list-group>
						<mdc-list twoLine interactive="false">
							<mdc-list-item>
								<a mdc-fab mini style="margin-right: 1em">{{tokenPayload.name?.charAt(0).toUpperCase()}}</a>
								<mdc-list-item-text secondaryText="{{tokenPayload.email}}">{{tokenPayload.name}}</mdc-list-item-text>
							</mdc-list-item>
						</mdc-list>
						<mdc-list-divider></mdc-list-divider>
						<div style="text-align: center; margin-bottom: 6px">
							<button mdc-button outlined (click)="onMenuSortirClick($event)" class="logout-button-ink-color">{{'app.action.logout'|translate}}</button>
						</div>
					</mdc-list-group>
				</mdc-menu>
			</div>
		</mdc-top-app-bar-section>
	</mdc-top-app-bar-row>
</mdc-top-app-bar>
<div #container id="container" [ngClass]="{'topbarMargin': topbarVisible}">
	<router-outlet></router-outlet>
</div>