[Unit]
Description=cecocloud
After=syslog.target

[Service]
User=USUARI
ExecStart=/opt/cecocloud/cecocloud-front-0.1.jar
SuccessExitStatus=143
SyslogIdentifier=cecocloud

[Install]
WantedBy=multi-user.target
