<bng-form
  bng-form-mant
  [config]="formConfig"
  [restapiService]="articlesService"
  (resourceLoad)="onResourceLoad($event)"
  (formGroupChange)="onFormGroupChange($event)"    
>
	<mat-tab-group animationDuration="0">    
	    <mat-tab label="{{'resource.article.field.titolGeneral'|translate}}">	     
	      <ng-container *ngTemplateOutlet="articleTab"></ng-container>
	    </mat-tab>
	     <mat-tab [disabled]="!modificant" label="{{'resource.article.field.imatges'|translate}}">	     
	      <ng-container *ngTemplateOutlet="imatgesTab"></ng-container>
	    </mat-tab>	
	     <mat-tab [disabled]="!modificant" label="{{'resource.article.field.traduccions'|translate}}">	     
	      <ng-container *ngTemplateOutlet="traduccionsTab"></ng-container>
	    </mat-tab>	
	    <mat-tab [disabled]="!modificant" label="{{'resource.article.field.stocks'|translate}}">	     
	      <ng-container *ngTemplateOutlet="stocksTab"></ng-container>
	    </mat-tab>		
	</mat-tab-group>
	
	<ng-template #articleTab>
		<mat-card>
			<mat-card-content>
				<ng-container *ngTemplateOutlet="dadesGeneralsTemplate"></ng-container>
			</mat-card-content>
		</mat-card>		
	</ng-template>
	<ng-template #imatgesTab>
		<mat-card>
			<mat-card-content *ngIf="modificant">
				<ng-container *ngTemplateOutlet="articlesInformacioTemplate"></ng-container>
			</mat-card-content>
		</mat-card>
	</ng-template>
	<ng-template #traduccionsTab>
		<mat-card>
			<mat-card-content *ngIf="modificant">
				<ng-container *ngTemplateOutlet="articlesTraduccioTemplate"></ng-container>
			</mat-card-content>
		</mat-card>
	</ng-template>
	<ng-template #stocksTab>
		<mat-card>
			<mat-card-content *ngIf="modificant">
				<ng-container *ngTemplateOutlet="magatzemsArticleTemplate"></ng-container>
			</mat-card-content>
		</mat-card>
	</ng-template>
	
	<ng-template #dadesGeneralsTemplate>
		<div style="display: flex">
		  <div style="width: 25%; padding-right: 1em">
		    <bng-custom-field name="codi"></bng-custom-field>
		  </div>  
		  <div style="width: 25%; padding-right: 1em">
		    <bng-custom-field name="descripcioCurta"></bng-custom-field>
		  </div>
		  <div style="width: 25%; padding-right: 1em">
		    <bng-custom-field name="tipusUnitat"></bng-custom-field>
		  </div>
		  <div style="width: 25%; padding-right: 1em">
		    <bng-custom-field name="iva"></bng-custom-field>
		  </div>		
		</div>
		
		<div style="display: flex">		 
    	  <div style="width: 25%; padding-right: 1em">
		    <bng-custom-field name="decimalsPreu"></bng-custom-field>
		  </div>
		  <div style="width: 25%; padding-right: 1em">
		    <bng-custom-field name="pvp"></bng-custom-field>
		  </div>  
		  <div style="width: 25%; padding-right: 1em">
		    <bng-custom-field name="decimalsPreuIva"></bng-custom-field>
		  </div>
		  <div style="width: 25%; padding-right: 1em">
		    <bng-custom-field name="preuAmbIva"></bng-custom-field>
		  </div>
		</div>
		
	 	<div style="display: flex">
		  <div style="width: 25%; padding-right: 1em">
		    <bng-custom-field name="familia"></bng-custom-field>
		  </div>
		  <div style="width: 25%; padding-right: 1em">
		    <bng-custom-field name="model"></bng-custom-field>
		  </div>
		  <div style="width: 25%; padding-right: 1em">
		    <bng-custom-field name="gamma"></bng-custom-field>
		  </div>  
		  <div style="width: 25%; padding-right: 1em">
		    <bng-custom-field name="marca"></bng-custom-field>
		  </div>
		</div>
		
		<div style="display: flex">
		  <div style="width: 100%; padding-right: 1em">
		    <bng-custom-field name="descripcio"></bng-custom-field>
		  </div>
		</div>
		<div style="display: flex">  
		  <div style="width: 100%; padding-right: 1em">
		    <bng-custom-field name="rutaInforme"></bng-custom-field>
		  </div>
		</div>
<!-- 		<div style="display: flex"> -->
<!-- 		  <div style="width: 100%; padding-right: 1em"> -->
<!-- 		    <bng-custom-field name="preuSenseIva"></bng-custom-field> -->
<!-- 		  </div>  -->
<!-- 	    </div> -->
		
	</ng-template>
	
	<ng-template #articlesInformacioTemplate>
		<bng-datagrid			
			*ngIf="showArticleInformacioGrid"		
			[config]="articlesInformacioDatagridConfig"
			[restapiService]="articlesInformacioService"		
			[editable]="gridsEditables"	
			>
		</bng-datagrid>		
	</ng-template>
	
	<ng-template #articlesTraduccioTemplate>
		<bng-datagrid
			*ngIf="showArticleTraduccioGrid"				
			[config]="articlesTraduccioDatagridConfig"
			[restapiService]="articlesTraduccioService"		
			[editable]="gridsEditables"	
			>
		</bng-datagrid>		
	</ng-template>
	
	<ng-template #magatzemsArticleTemplate>
		<bng-datagrid
			*ngIf="showMagatzemArticleGrid"				
			[config]="magatzemsArticleDatagridConfig"
			[restapiService]="magatzemsArticleService"		
			[editable]="gridsEditables"	
			>
		</bng-datagrid>		
	</ng-template>
    		
</bng-form>