<bng-form
  bng-form-mant
  [config]="formConfig"
  [restapiService]="pressupostosService"
  (resourceLoad)="onResourceLoad($event)"  
>
	<mat-tab-group animationDuration="0">    
	    <mat-tab label="{{'resource.pressupost.field.titolGeneral'|translate}}">
	      <ng-container *ngTemplateOutlet="pressupostTab"></ng-container>
	    </mat-tab>    
	    <mat-tab label="{{'resource.pressupost.field.titolDadesClient'|translate}}">
	      <ng-container *ngTemplateOutlet="dadesClientTab"></ng-container>
	    </mat-tab>	  
	</mat-tab-group>
	
	<ng-template #pressupostTab>
		<mat-card>
			<mat-card-content>
				<ng-container *ngTemplateOutlet="dadesGeneralsTemplate"></ng-container>
			</mat-card-content>
		</mat-card>
		<mat-card>
			<mat-card-content *ngIf="modificant">
				<ng-container *ngTemplateOutlet="liniesPressupostTemplate"></ng-container>
			</mat-card-content>
		</mat-card>
	</ng-template>	
	
	<ng-template #dadesGeneralsTemplate>
		<div style="display: flex">
		  <div style="width: 25%; padding-right: 1em">
		    <bng-custom-field name="codi"></bng-custom-field>
		  </div>  
		  <div style="width: 25%; padding-right: 1em">
		    <bng-custom-field name="numero"></bng-custom-field>
		  </div>
		  <div style="width: 25%; padding-right: 1em">
		    <bng-custom-field name="versio"></bng-custom-field>
		  </div>
		  <div style="width: 25%; padding-right: 1em">
		    <bng-custom-field name="data"></bng-custom-field>
		  </div>
		</div>
		
		<div style="display: flex">
		  <div style="width: 25%; padding-right: 1em">
		    <bng-custom-field name="dataInici"></bng-custom-field>
		  </div>  
		  <div style="width: 25%; padding-right: 1em">
		    <bng-custom-field name="estat"></bng-custom-field>
		  </div>
		  <div style="width: 50%; padding-right: 1em">
		    <bng-custom-field name="observacions"></bng-custom-field>
		  </div>		
		</div>
		
	 	<div style="display: flex">	 	 
		  <div style="width: 33%; padding-right: 1em">
		    <bng-custom-field name="serieVenda"></bng-custom-field>
		  </div>
		  <div style="width: 33%; padding-right: 1em">
		    <bng-custom-field name="client"></bng-custom-field>
		  </div>
		  <div style="width: 33%; padding-right: 1em">
		    <bng-custom-field name="operari"></bng-custom-field>
		  </div>
		</div>
		
		<div style="display: flex">
		  <div style="width: 25%; padding-right: 1em">
		    <bng-custom-field name="codiPostal"></bng-custom-field>
		  </div>  
		  <div style="width: 25%; padding-right: 1em">
		    <bng-custom-field name="divisa"></bng-custom-field>
		  </div>
		  <div style="width: 25%; padding-right: 1em">
		    <bng-custom-field name="magatzem"></bng-custom-field>
		  </div>
		  <div style="width: 25%; padding-right: 1em">
		    <bng-custom-field name="idioma"></bng-custom-field>
		  </div>
	  	</div>
		  
	  	<div style="display: flex">
	  	  <div style="width: 25%; padding-right: 1em">
		    <bng-custom-field name="puntVenda"></bng-custom-field>
		  </div> 
		  <div style="width: 25%; padding-right: 1em">
		    <bng-custom-field name="pais"></bng-custom-field>
		  </div>  
		  <div style="width: 25%; padding-right: 1em">
		    <bng-custom-field name="provincia"></bng-custom-field>
		  </div>
		  <div style="width: 25%; padding-right: 1em">
		    <bng-custom-field name="documentPagamentCobrament"></bng-custom-field>
		  </div>	  
		</div>
		<div style="display: flex">
	  	  <div style="width: 25%; padding-right: 1em">
		    <bng-custom-field name="desglose"></bng-custom-field>
		  </div> 
		  <div style="width: 25%; padding-right: 1em">
		    <bng-custom-field name="valorDivisaEuros"></bng-custom-field>
		  </div>  
		  <div style="width: 25%; padding-right: 1em">
		    <bng-custom-field name="nomClient"></bng-custom-field>
		  </div>
		  <div style="width: 25%; padding-right: 1em">
		    <bng-custom-field name="certificacioOrigen"></bng-custom-field>
		  </div>	
		   <div style="width: 25%; padding-right: 1em">
		    <bng-custom-field name="classe"></bng-custom-field>
		  </div>	
		   <div style="width: 25%; padding-right: 1em">
		    <bng-custom-field name="seguimentRecepcioMaterial"></bng-custom-field>
		  </div>	  
		</div>
	</ng-template>
	
	<ng-template #liniesPressupostTemplate>
		<bng-datagrid	
			*ngIf="showPressupostLiniaGrid"					
			[config]="pressupostosLiniaDatagridConfig"
			[restapiService]="pressupostosLiniaService"		
			[editable]="gridsEditables"	
			>
		</bng-datagrid>		
	</ng-template>
	
	<ng-template #dadesClientTab>	
	    <div style="display: flex">
   	    	<div style="width: 33%; padding-right: 1em">
	        	<bng-custom-field name="codiClient"></bng-custom-field>
	      	</div>
	    	<div style="width: 33%; padding-right: 1em">
	        	<bng-custom-field name="nomComercial"></bng-custom-field>
	      	</div>
	      	<div style="width: 33%; padding-right: 1em">
	        	<bng-custom-field name="nomFiscal"></bng-custom-field>
	      	</div>
	    </div> 
	    <div style="display: flex">
	    	<div style="width: 33%; padding-right: 1em">
	        	<bng-custom-field name="paisNif"></bng-custom-field>
	      </div>
	      <div style="width: 33%; padding-right: 1em">
	        	<bng-custom-field name="tipusNif"></bng-custom-field>
	      </div>
		  <div style="width: 33%; padding-right: 1em">
	      		<bng-custom-field name="nif"></bng-custom-field>
	      </div>
	    </div>  
	    <div style="display: flex">
	      <div style="width: 10%; padding-right: 1em">
	        <bng-custom-field name="tipusAdresa"></bng-custom-field>
	      </div>
	      <div style="width: 50%; padding-right: 1em">
	        <bng-custom-field name="nomDomicili"></bng-custom-field>
	      </div>
		  <div style="width: 10%; padding-right: 1em">
	        <bng-custom-field name="numeroDomicili"></bng-custom-field>
	      </div>    
	      <div style="width: 10%; padding-right: 1em">
	        <bng-custom-field name="escalaDomicili"></bng-custom-field>
	      </div>
	      <div style="width: 10%; padding-right: 1em">
	        <bng-custom-field name="pisDomicili"></bng-custom-field>
	      </div>
	      <div style="width: 10%; padding-right: 1em">
	       	<bng-custom-field name="portaDomicili"></bng-custom-field>
	      </div>
	    </div>      
	    <div style="display: flex">    	
		    <div style="width: 50%; padding-right: 1em">
	        	<bng-custom-field name="domiciliFiscal"></bng-custom-field>
	      	</div>     
	      	<div style="width: 35%; padding-right: 1em">
	        	<bng-custom-field name="codiPostalClient"></bng-custom-field>
	     	</div>
	     	<div style="width: 15%; padding-right: 1em">
	        	<bng-custom-field name="telefon"></bng-custom-field>
	     	</div>
     	</div>
     	<div style="display: flex">	     	
	     	<div style="width: 50%; padding-right: 1em">
	        	<bng-custom-field name="email"></bng-custom-field>
	     	</div>
	     		<div style="width: 50%; padding-right: 1em">
	        	<bng-custom-field name="emailFactura"></bng-custom-field>
	     	</div>	     	
	    </div>
	</ng-template>
    		
</bng-form>