<button mat-button *ngIf="selectionTree" [matMenuTriggerFor]="identificadorMenu">
	{{
		selectedIdentificadorEmpresa?.identificador
			? mobileScreen
				? selectedIdentificadorEmpresa?.identificador.codi
				: selectedIdentificadorEmpresa?.identificador.descripcio
			: '__'
	}}
	&nbsp;/&nbsp;
	{{
		selectedIdentificadorEmpresa?.empresa
			? mobileScreen
				? selectedIdentificadorEmpresa?.empresa.codi
				: selectedIdentificadorEmpresa?.empresa.nom
			: '__'
	}}
	<mat-icon>arrow_drop_down</mat-icon>
</button>
<mat-menu #identificadorMenu="matMenu" xPosition="before">
	<ng-container *ngFor="let treeItem of selectionTree; let i = index">
		<mat-divider></mat-divider>
		<button mat-menu-item style="background-color: #ddd; cursor: default;">
			<mat-icon class="iconcom">domain</mat-icon>
			<span class="nomcom">{{ treeItem.descripcio }}</span>
			<button
				*ngIf="treeItem.hasAdminPermission"
				mat-icon-button
				color="primary"
				aria-label="Botó d'edició del grup d'empreses"
				(click)="onAdministrarButtonClick(i)"
				class="btn_adm"
			>
				<mat-icon class="icon_adm">build</mat-icon>
			</button>
		</button>
		<mat-divider></mat-divider>
		<button mat-menu-item *ngFor="let empresa of treeItem.empreses; let j = index" (click)="onEmpresaButtonClick(i, j)">
			<span style="padding-left:1em">{{ empresa.nom }}</span>
		</button>
		<!--button mat-menu-item *ngIf="treeItem.hasAdminPermission" (click)="onAdministrarButtonClick(i)">
			<mat-icon style="padding-left:1em">build</mat-icon>
			<span>Administrar</span>
		</button-->
	</ng-container>
</mat-menu>
